{% load crispy_forms_tags%}
{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <div class="login">
        <div class="txt_login">
            <div class="frame_iniciar_sesion">
                <div class="text_wrapper">Iniciar Sesión</div>
            </div>
            <div class="icon_x"><img class="icons" {% comment %} src="{% static 'img/' %}" {% endcomment %} />X</div>
        </div>
        <div class="div">
            <div class="frame_email">
                <div class="label email">Email</div>
            </div>
            <div class="text_field error_email"></div>
            <div class="error_message">Email Incorrecto</div>
        </div>
        <div class="div">
            <div class="frame_password">
                <div class="label password">Contraseña</div>
                <div class="password_hide_see">
                    <img class="icon" src="{% static 'img/icon.png' %}" />
                    <div class="text_wrapper_2">Hide</div>
                </div>
            </div>
            <div class="text_field error_password"></div>
            <div class="error_message">Contraseña Incorrecto</div>
        </div>
        <div class="crear_cuenta">
            <p class="txt_crear_cuenta">
                <span class="span">¿No tienes una cuenta?</span>
                <span class="text_wrapper_3">&nbsp;</span>
                <span class="text_wrapper_4">Inscribirse</span>
            </p>
        </div>
        <div class="divisor">
            <div class="divider"></div>
            <div class="text_wrapper_5">OR</div>
            <div class="divider"></div>
        </div>
        <div class="btn_iniciar_sesion">
            <div class="txt_signin">Iniciar Sesion</div>
        </div>
        <div class="redes_sociales">
            <div class="frame_wrapper">
                <div class="frame_btn_redes_facebook">
                    <img class="social_media_logo" src="{% static 'img/' %}" />
                    <div class="continue_with">Continuar con Facebook</div>
                </div>
            </div>
            <div class="div_wrapper">
                <div class="frame_btn_redes_google">
                    <img class="img" src="{% static 'img/' %}" />
                    <div class="continue_with_google">Continuar con Google</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>