{% load crispy_forms_tags%}
{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <div class="login-container">
        <div class="login-box">
            <button class="close-btn">×</button>
            <h2>Iniciar Sesión</h2>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Email"
                        value="{{ form.email.value|default_if_none:'' }}">
                    {% if form.email.errors %}
                    <span class="error-msg">{{ form.email.errors.0 }}</span>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" placeholder="Contraseña"
                        value="{{ form.password.value|default_if_none:'' }}">
                    <span class="toggle-password">X Hide</span>
                    {% if form.password.errors %}
                    <span class="error-msg">{{ form.password.errors.0 }}</span>
                    {% endif %}
                </div>

                <div class="register-link">
                    <span>¿No tienes una cuenta? <a href="{% url 'registro' %}">Inscribirse</a></span>
                </div>

                <div class="divider">
                    <hr>
                    <span>OR</span>
                    <hr>
                </div>

                <button type="submit" class="btn-login">Iniciar Sesión</button>

                <div class="social-login">
                    <a href="" class="btn-facebook">Continuar con Facebook</a>
                    <a href="" class="btn-google">Continuar con Google</a>
                </div>
            </form>

        </div>


        <!-- <div class="div">
            
            <div class="text_field error_email"></div>
            <div class="error_message">Email Incorrecto</div>
        </div>
        <div class="div">
            <div class="frame_password">
                <div class="label password">Contraseña</div>
                <div class="password_hide_see">
                    <img class="icon" src="{% static 'img/icon.png' %}" />
                    <div class="text_wrapper_2">Hide</div>
                </div>
            </div>
            <div class="text_field error_password"></div>
            <div class="error_message">Contraseña Incorrecta</div>
        </div>
        <div class="crear_cuenta">
            <p class="txt_crear_cuenta">
                <span class="span">¿No tienes una cuenta?</span>
                <span class="text_wrapper_3">&nbsp;</span>
                <span class="text_wrapper_4">Inscribirse</span>
            </p>
        </div>
        <div class="divisor">
            <div class="divider"></div>
            <div class="text_wrapper_5">OR</div>
            <div class="divider"></div>
        </div>
        <div class="btn_login">
            <button class="btn_iniciar_sesion" onclick="window.location.href='{% url 'index' %}'">Iniciar Sesion
                2</button>
        </div>
        <div class="redes_sociales">
            <div class="frame_wrapper">
                <div class="frame_btn_redes_facebook">
                    <img class="social_media_logo" src="{% static 'img/' %}" />
                    <div class="continue_with">Continuar con Facebook</div>
                </div>
            </div>
            <div class="div_wrapper">
                <div class="frame_btn_redes_google">
                    <img class="img" src="{% static 'img/' %}" />
                    <div class="continue_with_google">Continuar con Google</div>
                </div>
            </div>
        </div> -->
    </div>
</body>

</html>